{% extends "base.html" %}
{% block content %}
<h2>Welcome, {{username}}</h2>

{% if users %}
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.position }}</td>
        <td class="action-menu">
        <details>
            <summary>⋮</summary>
            <div class="dropdown-actions">
            <a href="/user_view/{{ user.id }}">View</a>
            <a href="/update/{{ user.id }}">Edit</a>
            <a href="/delete/{{ user.id }}" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
            </div>
        </details>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
  <p>No records found.</p>
{% endif %}

<!-- Add New User Button -->
<div style="margin-bottom: 20px;gap: 10px;">
    <a href="/add-user" class="btn">+ Add New User</a>
</div>
{% endblock %}
